body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5% 0 5%;
    height: 100vh;

    .digits, .digits2 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 75%;
        color: #000000be;
        font-size: 100px;
        .numbers {
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .seconds {
            padding-top: 20px;
            font-size: 50px;
        }
    }

    .clock {
        width: 25%;
        border: 3px solid #00000033;
        background-color: #be4343;
        border-radius: 20%;
        width: 35vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
        .clockTop {
            color: #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50% 50% 0 0; 
            height: 15vh;
            width: 35vw;
            font-size: 70px;
        }

        .clockMiddle {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            background-color: white;
            color: #4c4c4cac;
            height: 50vh;
            width: 34vw;
            border-radius: 10%;
            font-size: 100px;
        }

        .clockBottom {
            color: #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 15vh;
            width: 35vw;
            border-radius: 0 0 50% 50%; 
            font-size: 70px;
        }

    }

}
